<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <h4 style="text-align: center">Add Stations</h4>
      </ion-col>
      <ion-col class="ion-text-end">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <div class="add-station-form">
    <div class="lat-lng-group">
      <div class="input-group">
        <p>Latitude</p>
        <input type="text" placeholder="lat" class="latitude" [(ngModel)]="lat" >
      </div>
      <div class="input-group">
        <p>Longitude</p>
        <input type="text" placeholder="lng" class="longitude" [(ngModel)]="lng" >
      </div>
    </div>

    <div class="input-group">
      <p>Name</p>
      <input type="text" placeholder="name" class="name" [(ngModel)]="name" >
    </div>
    
    <button class="submitBtn" (click)="submitLocation()">Submit</button>

  </div>

  <div class="table-container">
    <table>
      <tr>
        <th>Name</th>
        <th>Lat</th>
        <th>Lng</th>
      </tr>
      <tr *ngFor="let l of locationList">
        <td>{{l.name}}</td>
        <td>{{l.lat}}</td>
        <td>{{l.lng}}</td>
      </tr>
    </table>
  </div>

</ion-content>



<section class="nav-footer">
  <ion-button fill="clear" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/home/add-stations'">
    <ion-icon slot="icon-only" name="options-outline"></ion-icon>
  </ion-button>

</section>