<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <p style="text-align: center">VoltHunger</p>
      </ion-col>
      <ion-col class="ion-text-end">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <div id="map" style="width: 100%; height: 95%; z-index: 1;"></div>

  <div class="floating-input-wrapper" *ngIf="showPicker">

    <p class="ion-text-center" style="margin-bottom: 35px;">Choose Your Desire Area</p>

    <div class="location-picker-container">
      <div style="margin-right: 5px;">
        <p>latitude</p>
        <input type="text" placeholder="latitude" class="latitude" [(ngModel)]="targetLat" (change)="changeLocation()">
      </div>
      <div style="margin-left: 5px;">
        <p>Longitude</p>
       <input type="text" placeholder="longitude" class="longitude" [(ngModel)]="targetLong" (change)="changeLocation()">
      </div>
    </div>
  
    <div class="surrounding-kilometer-container">
      <p>Parameter</p>
      <input type="number" placeholder="kilometer" class="kilometer" [(ngModel)]="distance">
    </div>

    <div class="btn-wrapper">
      <button class="cancelBtn" (click)="onCancel()">Cancel</button>
      <button class="findNearByBtn" (click)="onFindingNearby()">Find</button>
    </div>

  </div>

</ion-content>

<section class="nav-footer">
  <ion-button fill="clear" class="active" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/home/add-stations'">
    <ion-icon slot="icon-only" name="options-outline"></ion-icon>
  </ion-button>

</section>