<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <p style="text-align: center">VoltHunger</p>
      </ion-col>
      <ion-col class="ion-text-end">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <div id="map" style="width: 100%; height: 100%; z-index: 1;"></div>

  <div class="floating-input-wrapper">
    <div class="location-picker-container">
      <input type="text" placeholder="latitude" class="latitude" [(ngModel)]="targetLat" (change)="changeLocation()">
      <input type="text" placeholder="longitude" class="longitude" [(ngModel)]="targetLong">
    </div>
  
    <p class="ion-text-center">AND</p>
  
    <div class="surrounding-kilometer-container">
      <input type="number" placeholder="kilometer" class="kilometer" value="5">
    </div>

    <ion-button expand="full">Find</ion-button>
  </div>

  <section class="empty-space"></section>

</ion-content>

<section class="nav-footer">
  <ion-button fill="clear" class="active" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear"  [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/fav'">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/singers'">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" [routerLink]="'/setting'">
    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
  </ion-button>

</section>