<ion-header [translucent]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <h4 style="text-align: center">Loyality Program</h4>
      </ion-col>
      <ion-col class="ion-text-end">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <h2>COMMING SOON</h2>

</ion-content>

<section class="nav-footer">

  <ion-button fill="clear" class="active" [routerLink]="'/home'">
    <ion-icon slot="icon-only" name="search-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/home/loyality'">
    <ion-icon slot="icon-only" name="logo-bitcoin"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/home/payment'">
    <ion-icon slot="icon-only" name="wallet-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="active" [routerLink]="'/home/profile'">
    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
  </ion-button>

</section>